html {
    height: 100%;
}

.logo {
    color: darkgreen;
}

.main-logo-link {
    width: fit-content;
}

body {
    background-image: url('/media/vans.jpg');
    background-size: cover;
    height: calc(100vh - 164px);
    background-color: darkred;
  }

footer {
    position: fixed;
    bottom: 0px;
    right: 20px;
    font-weight: 700;
}

.social-links {
    text-align: right;
}

a {
    padding-left: 5px;
    color: darkgreen;
}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 90%;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 50px;
      }
  }