body {
    background-image: url('/media/vans.jpg');
    background-color: darkred;
  }

footer {
    position: fixed;
    bottom: 0px;
    right: 20px;
    font-weight: 700;
}

.social-links {
    text-align: right;
}

a {
    padding-left: 5px;
}