<footer class="container-wrapper">
    <div class="container quotes-container content-container">
        <section class="footer">
            <div class="row">
                <div class="col-12 page-header mb-4 mt-4">
                    <h2 class="text-uppercase">Stay in touch:</h2>
                    <hr class="block-divider block-divider--short">
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 mb-4">
                    <h3>Social</h3>
                    <p>Keep up to date with all our latest offers</p>
                    <a href="#" target="_blank" rel="noopener noreferrer" aria-label="Follow us on Facebook! (opens in a new tab)" class="fab fa-facebook-square"></a>
                    <a href="mailto:denisklopotan@gmail.com" target="_blank" rel="noopener noreferrer" aria-label="Send me an email (opens in a new tab)" class="fas fa-at fa-lg"></a>
                    <a href="https://www.linkedin.com/in/denis-klopotan-8397b1130/" target="_blank" rel="noopener noreferrer" aria-label="Visit my Linkedin page (opens in a new tab)" class="fab fa-linkedin fa-lg"></a>
                    <a href="https://github.com/denisklopotan/vegan-sneaker-store" target="_blank" rel="noopener noreferrer" aria-label="Visit my Github page (opens in a new tab)" class="fab fa-github fa-lg"></a>
                </div>
                <div class="col-12 col-md-6">
                    <h2>Subscribe!</h2>
                    <p>Get exclusive offers and discount codes by subscribing to our monthly newsletter</p>
                    <!-- Mailchimp signup form here -->
                </div>
            </div>
            <p>Copyright © 2022: Denis Klopotan</p>
        </section>
    </div>
</footer>